@import '../../../assets/scss/variables.scss';

:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }

  .logo {
    text-align: center;

    img {
      width: 200px;
    }
  }

  .mat-divider {
    border-top-width: 2px;
    border-color: #FFF;
  }

  .mat-list-item {
    color: $sidenav-font;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;

    &:hover {
      color: $sidenav-font-hover;
    }

    ::ng-deep {
      .mat-list-item-content {
        border-radius: 5px;
        margin: 0 8px;

        &:hover {
          background: $sidenav-item-background;
        }
      }
    }
  }

  .list-item-active {
    color: $sidenav-font-hover;

    ::ng-deep {
      .mat-list-item-content {
        background: $sidenav-item-background;

        &:hover {
          background: $sidenav-item-background;
        }
      }
    }
  }

  .mat-subheader {
    color: $secondary;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }

  mat-expansion-panel {
    margin: 0 8px;
    box-shadow: none;
    border-radius: 5px;
    background: transparent;

    mat-expansion-panel-header {
      background: $sidenav;
      padding: 0 16px;
      border-radius: 5px;
      height: 44px;

      &:hover {
        color: $sidenav-font-hover;
        background: $sidenav-item-background !important;
        border-radius: 5px;
      }

      mat-panel-title {
        color: $sidenav-font;
      }
    }

  }
}
