$primary: #3E4095;
$secondary: #4DC8F4;
$terciary: #86C44C;
$quartiary: #9ECC47;

$sidenav: #0f172a;
$sidenav-item-background: #2c3344;
$sidenav-font: #94a3b8;
$sidenav-font-hover: #f2f5f7;
$background: #e4e4e4;
