<div class="row g-3">
  <div class="col-lg-6">
    <mat-card class="h-100">
    </mat-card>
  </div>
  <div class="col-lg-6">
    <div class="row g-3">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <mat-card class="h-100">
          <mat-card-header class="d-flex justify-content-start">
            <mat-card-title>Title</mat-card-title>
            <div mat-card-avatar class=""></div>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum dolor
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <mat-card class="h-100">
          <mat-card-header class="d-flex justify-content-start">
            <mat-card-title>Title</mat-card-title>
            <div mat-card-avatar class=""></div>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum dolor
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <mat-card class="h-100">
          <mat-card-header class="d-flex justify-content-start">
            <mat-card-title>Title</mat-card-title>
            <div mat-card-avatar class=""></div>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum dolor
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <mat-card class="h-100">
          <mat-card-header class="d-flex justify-content-start">
            <mat-card-title>Title</mat-card-title>
            <div mat-card-avatar class=""></div>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum dolor
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <mat-card class="h-100">
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="h-100">
    </mat-card>
  </div>
</div>
