<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/img/brand.png" alt="SoftLeader Logo">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLink="" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon> Home
  </a>

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header mat-list-item routerLink="people/list">
        <mat-panel-title>
            <mat-icon>people</mat-icon> Pessoas
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item class="ps-2" routerLink="people/create" routerLinkActive="list-item-active">
        Adicionar pessoa
      </a>
      <a mat-list-item class="ps-2" routerLink="people/list" routerLinkActive="list-item-active">
        Listar pessoas
      </a>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header mat-list-item routerLink="call/list">
        <mat-panel-title>
          <mat-icon>support_agent</mat-icon> Chamados
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item class="ps-2" routerLink="/open-call" routerLinkActive="list-item-active">
        Abrir chamado
      </a>
      <a mat-list-item class="ps-2" routerLink="/list-call" routerLinkActive="list-item-active">
        Listar chamados
      </a>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
