<mat-card class="p-4">
  <mat-card-title class="mb-4">Cadastro de pessoas</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formPerson" #form="ngForm" (ngsubmit)="onSubmit()">

      <!--Nome-->
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="formPerson.controls.name.hasError('required')">
              Digite um nome
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!--Tipo de pessoa-->
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Tipo de pessoa</mat-label>
            <mat-select formControlName="typePerson">
              <mat-option value="cliente">Cliente</mat-option>
              <mat-option value="colaborador">Colaborador</mat-option>
              <mat-option value="usuario">Usuário</mat-option>
            </mat-select>
            <mat-error *ngIf="formPerson.controls.typePerson.hasError('required')">
              Selecione um tipo de pessoa
            </mat-error>
          </mat-form-field>
        </div>

        <!--CPF/CNPJ-->
        <div class="col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>CPF/CNPJ</mat-label>
            <input matInput formControlName="cpfCNPJ">
            <mat-error *ngIf="formPerson.controls.cpfCNPJ.hasError('required')">
              Digite um número de documento válido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-divider class="my-4"></mat-divider>


      <div class="row my-4">

        <!--Tab-->
        <mat-tab-group dynamicHeight>

          <!--Contatos-->
          <form formArrayName="contacts">
            <mat-tab label="Contato" class="mat-tab-header">

              <div class="container-fluid mt-3 p-0">

                <ng-container *ngFor="let contact of contacts.controls; let i = index">
                  <div class="row" [formGroupName]="i">

                    <!--Tipo de contato-->
                    <div class="col-lg-4">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Tipo de contato</mat-label>
                        <mat-select formControlName="typeContact">
                          <mat-option value="whatsapp">WhatsApp</mat-option>
                          <mat-option value="phone">Telefone</mat-option>
                          <mat-option value="email">E-mail</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <!--Contato-->
                    <div class="col-lg-4">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Contato</mat-label>
                        <input matInput formControlName="contact">
                      </mat-form-field>
                    </div>
                    <!--Nome do contato-->
                    <div class="col-lg-4">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Nome do contato</mat-label>
                        <input matInput formControlName="nameContact">
                      </mat-form-field>
                    </div>
                  </div>
                </ng-container>
              </div>

              <!--Botão para adicionar novo contato-->
              <div class="row me-1 mb-2 d-flex justify-content-end">
                <button class="w-auto" mat-raised-button color="primary" (click)="addContact()">Adicionar
                  contato</button>
              </div>
            </mat-tab>
          </form>


          <!--Colaborador-->
          <form formGroupName="employee">
            <mat-tab label="Colaborador" [disabled]="formPerson.controls.typePerson.value !== 'colaborador'">
              <div class="row mt-3">

                <!--Senha de acesso-->
                <div class="col-lg-6">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Senha de acesso</mat-label>
                    <input matInput formControlName="password">
                  </mat-form-field>
                </div>

                <!--Tipo de colaborador-->
                <div class="col-lg-6">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Tipo de colaborador</mat-label>
                    <mat-select formControlName="typeEmployee">
                      <mat-option value="technician">Técnico</mat-option>
                      <mat-option value="developer">Desenvolvedor</mat-option>
                      <mat-option value="financial">Financeiro</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-tab>
          </form>
        </mat-tab-group>
      </div>
    </form>
  </mat-card-content>

  <button mat-raised-button color="primary" class="me-2" (click)="onSubmit()" [disabled]="!formPerson.valid">Salvar</button>
  <button mat-raised-button color="secondary" class="me-2" (click)="resetForm()">Cancelar</button>
</mat-card>
