<mat-card class="p-4">
  <mat-card-header class="mb-3">
    <mat-card-title>Cadastro de pessoas</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Tipo de pessoa</mat-label>
          <mat-select>
            <mat-option value="client">Cliente</mat-option>
            <mat-option value="employee">Colaborador</mat-option>
            <mat-option value="user">Usuário</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>CPF/CNPJ</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row mt-4">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Contato">
          <div class="row mt-3">
            <div class="col-lg-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Tipo de contato</mat-label>
                <mat-select>
                  <mat-option value="whatsapp">WhatsApp</mat-option>
                  <mat-option value="phone">Telefone</mat-option>
                  <mat-option value="email">E-mail</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Contato</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Nome do contato</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="row me-1 mb-2 d-flex justify-content-end">
            <button class="w-auto" mat-raised-button color="primary">Adicionar contato</button>
          </div>
        </mat-tab>
        <mat-tab label="Colaborador">
          <div class="row mt-3">
            <div class="col-lg-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Senha de acesso</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Tipo de colaborador</mat-label>
                <mat-select>
                  <mat-option value="technician">Técnico</mat-option>
                  <mat-option value="developer">Desenvolvedor</mat-option>
                  <mat-option value="financial">Financeiro</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="secondary">Cancelar</button>
    <button mat-raised-button color="primary">Salvar</button>
  </mat-card-actions>
</mat-card>
